<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/css/estilo_IridiumIT.css" rel="stylesheet">
<link href="/css/estilo.css" rel="stylesheet">
<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/webjars/font-awesome/5.12.0/css/all.css}"
	rel="stylesheet" />
<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

<title>Projeto PAI - 4º ADS - FAPEN</title>

</head>
	
	<body>
	
		<div class="container">
			<div layout:fragment="content">O conteúdo das páginas filhas
				aparecerão aqui.</div>
		</div>
		
	</body>
</html>