<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<title>Cadastro Cliente</title>
<link rel="stylesheet" href="css/custom.css">
<link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<body>

<script language='JavaScript'>
function SomenteNumero(e)
{
    var tecla=(window.event)?event.keyCode:e.which;   
    if((tecla>47 && tecla<58)) return true;
    else{
    	if (tecla==8 || tecla==0) return true;
	else  return false;
    }
}
</script>

	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#26004d;">
		<a class="navbar-brand" href="Index.jsp">
		   <img src="img/LogoFanFigure.png" width="auto" height="auto">
	       </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/inicio">Catálogo <span class="sr-only"></span></a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Minha Conta
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/login">Logar</a>
		          <a class="dropdown-item" href="#">Cadastra-se</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Meu carrinho</a>
		          <a class="dropdown-item" href="#">Minhas Compras</a>
		        </div>		        
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" href="/login">Login</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Cadastros
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/produto/Admin/novo">Cadastro de produtos</a>
		          <a class="dropdown-item" href="/fornecedor/Admin/novo">Cadastro de fornecdor</a>	          
		          <a class="dropdown-item" href="/cliente/Admin/novo">Cadastro de usuários</a>	          
		        </div>		        
		      </li>	
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Gerenciamentos
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/produto/Admin/listar">listar produtos</a>
		          <a class="dropdown-item" href="/cliente/Admin/listar">listar usuários</a>
		          <a class="dropdown-item" href="/fornecedor/Admin/listar">listar Fornecedores</a>         
		        </div>		        
		      </li>		
		  </div>
	</nav>
	
<div class="jumbotron">
	<section id="Main Theme" class="container-fluid">
        <div class="row">
	        <div class="col-lg-6 offset-lg-3">
	           <!--  <h2 class="text-center text-dark">Cadastre-se</h2>
	            <p class="lead text-center text-dark">Fique tranquilo, nossa loja é segura</p>--> 
	            <hr>
		            <form method="POST" th:object="${cliente}" th:action="@{/cliente/Admin/salvar}">
		                <div class="form-group">
		                    <h5 class="text-dark">E-mail:</h5>
		                    <input type="email" class="form-control" id="cadastro_email" placeholder="" required="true" maxlength="150"  th:field="*{email}">
		                    <input type="hidden" th:field="*{codigo}" />
		                </div>
		                <div class="form-group">
		                	<h5 class="text-dark">Senha:</h5>
		                    <input type="password" class="form-control" id="cadastro_senha" placeholder="" required="true" maxlength="30"  th:field="*{senha}">
		                </div>
			                <div class="row">
			                    <div class="col-lg-6">
			                        <div class="form-group">
			                            <h5 class="text-dark">CPF:</h5>
			                            <input type="number" class="form-control" id="cadastro_cpf" placeholder="" onkeypress='return SomenteNumero(event)' required="true" maxlength="11"  th:field="*{CPF}">
			                        </div>
			                    </div>
			                 <div class="col-lg-6">
		                    	<div class="form-group">
		                        <h5 class="text-dark">Sexo:</h5>	                        
									  <select class="form-control" id="sel1"  th:field="*{Sexo}">
									    <option value="M">Masculino</option>
										<option value="F">Feminino</option>
									  </select>	  
								</div>                      
		                    </div>
		                </div>
		                <div class="form-group">
		                    <h5 class="text-dark" >Nome completo:</h5>
		                    <input type="text" class="form-control" id="cadastro_nome" placeholder="" required="true" maxlength="120"  th:field="*{nome_cliente}">
		                </div>
		                
	                    <div class="row">
	                    <div class="col-lg-4">
	                        <div class="form-group">
	                            <h5 class="text-dark">Telefone:</h5>
	                            <input type="number" class="form-control" id="cadastro_cpf" placeholder="" onkeypress='return SomenteNumero(event)' required="true" maxlength="10"  th:field="*{Telefone}">
	                        </div>
	                    </div>
		                    <div class="col-lg-4">
		                    	<div class="form-group">
		                        	<h5 class="text-dark">Celular:</h5>	                        
		                        	<input type="number" class="form-control" id="cadastro_celular" placeholder="" onkeypress='return SomenteNumero(event)' maxlength="11" th:field="*{Celular}" >
								</div>                      
		                    </div>
		                    <div class="col-lg-4">
		                    	<div class="form-group">
		                        	<h5 class="text-dark">Nascimento:</h5>	                        
		                        	<input type="date" class="form-control" id="Data_nascimento" placeholder="" onkeypress='return SomenteNumero(event)' required="true" maxlength="8" th:field="*{Data_nascimento}" >
								</div>                      
		                    </div>
		                </div>
		                
		                <div class="form-row">
							<th:block th:each="grupo : ${grupos}">
								<div class="form-group custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" name="grupo" th:value="${grupo.codigo}"
											th:field="*{grupos}">
								      	<label class="custom-control-label" th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">nome</label>
							    </div>
						    </th:block>
						</div>

		                <br>
		                <input type="submit" value="Salvar" id="submit" class="btn btn-primary btn-lg btn-block" style="background-color:#26004d" /> 
		                <!--  <p class="text-center cadastrar text-white">Já tem cadastro? <a href="Login.html" class="text-white">Entrar</a> 
		                <p class="text-center cadastrar"> <a href="CadastroPessoaJuridica.jsp" class = "text-white">Não é pessoa física?</a></p>-->
		            </form>
	        </div>						  
		</div>
	</section>
</div>



	<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4" style="background-color:#26004d;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-white">Loja</h5>
          <h5><p class="text-white">A FanFigures é especializada na venda de artigos colecionáveis pela internet e tem alcançado cada vez mais clientes em todas as regiões do Brasil, sendo considerada uma referência nacional e uma das lojas mais respeitadas no segmento de colecionáveis.</p></h5>         

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-white">Sobre</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <h5><a href="Confiavel.jsp" class="text-white">FanFigures é confiável?</a></h5>
              </p>
            </li>
            <li>
              <p>
                <h5><a href="Sobrenos.jsp" class="text-white">Sobre nós</a></h5>
              </p>
            </li>
            <li>
              <p>
                <h5><a href="Politica.jsp" class="text-white">Politicas de Compra e Segurança</a></h5>
              </p>
            </li>
            <li>
              <p>
                <h5><a href="contato.jsp" class="text-white">Contato</a></h5>
              </p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none text-white">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-white">Endereço</h5>

          <ul class="list-unstyled text-white">
            <li>
              <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.4059512609138!2d-46.53186998545878!3d-23.661436384633237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce42890bca2dff%3A0x35bf8a86b5a032b3!2zQ29sw6lnaW8gUGVudMOhZ29ubw!5e0!3m2!1spt-BR!2sbr!4v1557808951632!5m2!1spt-BR!2sbr" width="300" height="" frameborder="0" style="border:0" allowfullscreen></iframe>
            </li>
            <li>
              <p>
                <h5><i class="fas fa-envelope mr-3"></i> FanFiguresLoja@gmail.com</p></h5>
            </li>
            <li>
              <p>
                <h5><i class="fas fa-print mr-3"></i> +55 11 6841-8448</p></h5>
            </li>
            <li>
              <p>
                <h5><i class="fas fa-print mr-3 "></i> +55 11 9875-2154</p></h5>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <!-- Social buttons -->
          <h4 class="font-weight-bold text-uppercase mb-4 text-white">Siga-nos</h4>

         
          
            <!-- facebook -->
            <a href="https://www.facebook.com"><img src="img/facebook.png" width="50" height="50" alt="Facebook"></a>             
            
      		<!-- youtube -->
      		<a href="https://www.youtube.com"><img src="img/youtube.png" width="50" height="50" alt="youtube"></a>
      		
      		<!-- gmail -->
      		<a href="https://www.gmail.com"><img src="img/gmail.png" width="50" height="50" alt="gmail"></a><br>
      		</br>
      		 <img th:src="@{/https://api.siteblindado.com/v1/seal/aw/fantoy.com.br/seal.png}">
      		
      		 <img th:src="@{/img/bandeiras-mercadopago.png}">
      		 
      		 <img th:src="@{/img/selo-bis2bis_1.png}" class="img-responsive">
      		 
      		 <img th:src="@{/img/cartao1.png}" class="img-responsive">
      		 
      		  <img src="img/entrega.png" class="img-responsive">

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <h5><div class="footer-copyright text-center py-3 text-white">© 2019 FANFINGURES COLECIONÁVEIS. CNPJ: 15.126.747/0001-68</h5>
    </div>
    <!-- Copyright -->

  </footer>
 

    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>