<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<title>Listar Usuário</title>
	<link rel="stylesheet" href="css/custom.css">
<link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
	<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<body>

<script language='JavaScript'>
function confirmarExclusao(e) 
{
	textoExclusao = 'Posso remover '
		+ e + ' da base de dados?'

	if (!confirm(textoExclusao)) 
	{
		return false;
	} else
	{
		return true;
	}
}
</script>	

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#26004d;">
		<a class="navbar-brand" href="Index.jsp">
		   <img th:src="@{/img/LogoFanFigure.png}" width="auto" height="auto">
	       </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="Catalogo.jsp">Catálogo <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Minha Conta
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="Login.jsp">Logar</a>
		          <a class="dropdown-item" href="CadastroPessoaFisica.jsp">Cadastra-se</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="Checkout.jsp">Meu carrinho</a>
		          <a class="dropdown-item" href="MinhasCompras.jsp">Minhas Compras</a>
		        </div>		        
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" href="Login.jsp">Login</a>
		      </li>		      
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Cadastros
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="CadastroProduto.jsp">Cadastro de produtos</a>
		          <a class="dropdown-item" href="CadastroFornecedor.jsp">Cadastro de fornecdor</a>	          
		        </div>		        
		      </li>	
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Gerenciamentos
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="GerenciamentoProduto.jsp">Gerenciar produtos</a>
		          <a class="dropdown-item" href="GerenciamentoCliente.jsp">Gerenciar Clientes</a>
		          <a class="dropdown-item" href="GerenciamentoFornecedor.jsp">Gerenciar Fornecedores</a>         
		        </div>		        
		      </li>			      	       	      		     
		      <form method=get></form>		    
		      <li class="nav-item">
		        <a class="nav-link" >Bem vindo </a>
		      </li> 		     
		      <li class="nav-item">
		        <a class="nav-link">Sair</a>
		      </li>
		    </ul>
		   
		  </div>
	</nav>

<div class="jumbotron">
	<section id="Main Theme" class="container-fluid">
        <div class="row">
        	<div class="col-lg-12">
				<h2 class="text-dark">Listagem de usuários</h2>	
					
				<div class="card text-white bg-dark">
                	<h5 class="card-header">Usuários</h5>
                		<div class="card-body text-white bg-light">

                    		<table class="table table-striped table-sm">
                        		<thead>
		                            <tr>
		                                <th scope="col">Código</th>
										<th scope="col">Nome</th>
										<th scope="col">E-mail</th>
										<th scope="col" >CPF</th>
										<th scope="col" class="text-center"> Ações </th>
		                            </tr>
                        		</thead>
	                        	<tbody>
	                        	
	                        		<tr th:if="${cliente.empty}">
	                        			<td> 
		                                	<p class="mb-0"> Não há usuários cadastrados.</p>
		                                </td>
	                        		</tr>
	                        		 <tr th:each="cliente: ${cliente}">
		                                <td>
		                                <p class="mb-0" th:text="${cliente.codigo}"></p>
		                                </td>
		                                <td th:text="${cliente.nome_cliente}"></p></td>
		                                <td th:text="${cliente.email}"></p></td>
		                                <td th:text="${cliente.CPF}"></p></td>
		                                <td class="text-center">
			                                <form method="POST"	th:action="@{/cliente/Admin/excluir/{id}(id=${cliente.codigo})}">
											<a class="btn btn-primary btn-sm"
												th:href="@{/cliente/Admin/editar/{id}(id=${cliente.codigo})}"
												th:title="Editar"> <i class="fa fa-pencil-alt"></i>
											</a>
											<button th:data-nome="|o cliente ${cliente.nome_cliente} com o cpf ${cliente.CPF}|" 
													type="submit" class="btn btn-danger btn-sm" 
													onclick="return confirmarExclusao(this.getAttribute('data-nome'))" title="Excluir">
												<span class="far fa-trash-alt"></span>
											</button>
											</form>
										 <td class="text-center">	
		                            </tr>		                           
	                        	</tbody>	
                    		</table>                   		
                    		<p></p>
                		</div>
            	</div>			  
			</div>
		</div>
    </section>
</div>

<footer class="page-footer font-small mdb-color lighten-3 pt-4" style="background-color:#26004d;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-white">Loja</h5>
          <h5><p class="text-white">A FanFigures é especializada na venda de artigos colecionáveis pela internet e tem alcançado cada vez mais clientes em todas as regiões do Brasil, sendo considerada uma referência nacional e uma das lojas mais respeitadas no segmento de colecionáveis.</p></h5>         

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-white">Sobre</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <h5><a href="Confiavel.jsp" class="text-white">FanFigures é confiável?</a></h5>
              </p>
            </li>
            <li>
              <p>
                <h5><a href="Sobrenos.jsp" class="text-white">Sobre nós</a></h5>
              </p>
            </li>
            <li>
              <p>
                <h5><a href="Politica.jsp" class="text-white">Politicas de Compra e Segurança</a></h5>
              </p>
            </li>
            <li>
              <p>
                <h5><a href="contato.jsp" class="text-white">Contato</a></h5>
              </p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none text-white">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-white">Endereço</h5>

          <ul class="list-unstyled text-white">
            <li>
              <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.4059512609138!2d-46.53186998545878!3d-23.661436384633237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce42890bca2dff%3A0x35bf8a86b5a032b3!2zQ29sw6lnaW8gUGVudMOhZ29ubw!5e0!3m2!1spt-BR!2sbr!4v1557808951632!5m2!1spt-BR!2sbr" width="300" height="" frameborder="0" style="border:0" allowfullscreen></iframe>
            </li>
            <li>
              <p>
                <h5><i class="fas fa-envelope mr-3"></i> FanFiguresLoja@gmail.com</p></h5>
            </li>
            <li>
              <p>
                <h5><i class="fas fa-print mr-3"></i> +55 11 6841-8448</p></h5>
            </li>
            <li>
              <p>
                <h5><i class="fas fa-print mr-3 "></i> +55 11 9875-2154</p></h5>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <!-- Social buttons -->
          <h4 class="font-weight-bold text-uppercase mb-4 text-white">Siga-nos</h4>
                  
            <!-- facebook -->
            <a href="https://www.facebook.com"><img src="img/facebook.png" width="50" height="50" alt="Facebook"></a>             
            
      		<!-- youtube -->
      		<a href="https://www.youtube.com"><img src="img/youtube.png" width="50" height="50" alt="youtube"></a>
      		
      		<!-- gmail -->
      		<a href="https://www.gmail.com"><img src="img/gmail.png" width="50" height="50" alt="gmail"></a><br>
      		</br>
      		 <img src="https://api.siteblindado.com/v1/seal/aw/fantoy.com.br/seal.png">
      		
      		 <img src="img/bandeiras-mercadopago.png">
      		 
      		 <img src="img/selo-bis2bis_1.png" class="img-responsive">
      		 
      		 <img src="img/cartao1.png" class="img-responsive">
      		 
      		  <img src="img/entrega.png" class="img-responsive">

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <h5><div class="footer-copyright text-center py-3 text-white">© 2019 FANFINGURES COLECIONÁVEIS. CNPJ: 15.126.747/0001-68</h5>
    </div>
    <!-- Copyright -->

  </footer>
		
</body>
</html>