<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<body>
	<nav class="navbar navbar-light navbar-expand-lg justify-content-between fixed-top layout-menu" th:fragment="menubar">
		<div class="container">
			<a class="navbar-brand" href="/inicio"> <img class="logo_cliente_P"
				th:src="@{/images/logoecommerce.jpg}">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbarSupportedContent" class="collapse navbar-collapse">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Usuários </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/usuario">
								<i class="fas fa-list-ol"></i>&nbsp;
								Listar Usuários
							</a>
							<a class="dropdown-item" href="/usuario/novo" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
								<i class="far fa-plus-square"></i>&nbsp;
								Incluir Usuários
							</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Produtos </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/produto">
								<i class="fas fa-list-ol"></i>&nbsp;
								Listar Produtos
							</a>
							<a class="dropdown-item" href="/produto/novo">
								<i class="far fa-plus-square"></i>&nbsp;
								Incluir Produtos
							</a>
						</div>
					</li>
					<li class="nav-item dropdown"><a href="#"
						class="nav-link dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">
							Relatórios </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" target="_blank">
								<i class="far fa-handshake"></i>&nbsp;
								Clientes
							</a>
							<a class="dropdown-item" href="#" target="_blank">
								<i class="far fa-handshake"></i>&nbsp;
								Produtos
							</a>
							<a class="dropdown-item" href="#" target="_blank">
								<i class="fas fa-file-pdf"></i>&nbsp;
								Usuários - PDF
							</a>
							<a class="dropdown-item" href="#" target="_blank">
								<i class="fas fa-file-excel"></i>&nbsp;
								Usuários - Excel
							</a>
							<a class="dropdown-item" href="#" target="_blank">
								<i class="fas fa-file-csv"></i>&nbsp;
								Usuários - CSV
							</a>
							<a class="dropdown-item" href="#" target="_blank">
								<i class="fas fa-file-csv"></i>&nbsp;
								Produtos - PDF
							</a>
						</div></li>

					<!-- Menu com as funções de administração do sistema -->
					
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
						<a href="#"	class="nav-link dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">
							Administração </a>

						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/usuario"> <i class="fas fa-users"></i>&nbsp;
								Listar Usuários
							</a>
							<a class="dropdown-item" href="/usuario/novo">
								<i class="fas fa-user-plus"></i>&nbsp; 
								Incluir Usuário
							</a>
							<a class="dropdown-item" href="#">
								<i class="fas fa-address-card"></i> &nbsp;
								Listar Clientes
							</a>
							<a class="dropdown-item" href="#"> <i
								class="far fa-handshake"></i> &nbsp; Incluir Cliente
							</a>
							<a class="dropdown-item" href="/produto"> <i class="fas fa-list-ol"></i>
								&nbsp; Listar Produtos
							</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" th:action="@{/logout}"
					method="post">
					<i class="far fa-user-circle"></i>
					<div class="nome-usuario" th:text="${#authentication.principal.usuario.nome}"></div>
					<button type="submit" class="btn btn-secondary my-2 my-sm-0">
						<i class="fas fa-sign-out-alt"></i>&nbsp;Sair
					</button>
				</form>
			</div>
		</div>
	</nav>
</body>
</html>